body{
    background-image: url("background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
#body{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
table{
    background: rgba(255, 255, 255, 0.459);
}
#board{
    width: 400px;
    height: 400px;
}
td{
    border: 1px solid;
    cursor: pointer;
    padding: 5px;
    width: 11.11%;
    height: 11.11%;
    text-align: center;
    vertical-align: center;
}
td:not(.uncovered):hover{background-color: #ddd}
.uncovered:not(.mine){
    background-color: gray;
    color: white;
}
.uncovered.mine{
    background-image: url("bomb.png");
    background-size: 100%;
}
.flag{
    background-image: url("flag.png");
    background-size: 100%;
}
.result{
    clear: both;
    margin: 10px auto;
    font-size: 50px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px red;
}